/****** Object:  View [dbo].[vForRDSD]    Script Date: 28/12/2021 1:36:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vForRDSD]
AS
SELECT  ID, Name   ,NULL SeqNo
FROM         dbo.tForRDSD
GO
