/****** Object:  View [dbo].[vFacultyInstitute]    Script Date: 28/12/2021 1:36:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vFacultyInstitute] 
AS
SELECT	
	fi.[ID]
,	fi.[Code]
,	fi.[Name]
,	fi.[IsActive]
,	fi.[ID_Company]
,	c.Name Company
FROM 
	tFacultyInstitute fi
	LEFT OUTER JOIN dbo.tCompany c ON c.ID = fi.ID_Company
GO
