/****** Object:  View [dbo].[vBankExport_Detail]    Script Date: 28/12/2021 1:36:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vBankExport_Detail]
AS
SELECT     ID, ID_BankExport, ID_Employee, LastName, FirstName, MiddleName, BankAcctNo, NetAmt, PayDate, Code, Name, SeqNo, 
                      IsActive, Comment, ID_Transaction_Created, ID_Transaction_Modified, DateTimeCreated, DateTimeModified, DateCreated, DateModified
FROM         dbo.tBankExport_Detail bed
GO
