/****** Object:  View [dbo].[vEmailSetup]    Script Date: 28/12/2021 1:36:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vEmailSetup] 
AS
	SELECT	
		ID
		, [Server]
		, [Port]
		, Username
		, [Password]
		, [SSL]
		, Interval
		, LastSent
		, IsActive
	FROM dbo.tEmailSetup
GO
