/****** Object:  View [dbo].[vGender]    Script Date: 28/12/2021 1:36:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vGender]
AS
SELECT     ID, Code, Name, IsActive, ImageFile, Comment, SeqNo
FROM         dbo.tGender AS G
GO
