/****** Object:  View [dbo].[vFacultyLoadParameter]    Script Date: 28/12/2021 1:36:21 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vFacultyLoadParameter] 
AS
SELECT	
	[ID]
,	[Code]
,	[Name]
,	[IsActive]
,	[MinimumLoad]
,	[MaximumLoad]
FROM 
	tFacultyLoadParameter
GO
